{
  "chmod": "0755",
  "directories": [
    "src"
  ],
  "files": [
    "LICENSE"
  ],
  "finder": [
    {
      "name": "*.php",
      "exclude": [
        "tests",
        "Tests"
      ],
      "in": [
        "vendor"
      ]
    }
  ],
  "git-version": "@package_version@",
  "main": "bin/selim.php",
  "output": "bin/selim-cli.phar",
  "stub": true
}